/**
* color
* border-color
* background-linear-gradient
*/


/* color
-------------------------------------------------------------- */
.counter-type2 .content-counter .icon-count .icon,
.services-box-type1 .iconbox-content .read-more a:hover,
.services-box-type1 .iconbox-content .read-more a:hover:after {
	color: #e397c0;
}

/* border-color
-------------------------------------------------------------- */
.services-box-type1:hover .snow-dot {
	background-color: #fbd3e9;
}

/* background-linear-gradient
-------------------------------------------------------------- */
.green-dot {
    background: rgb(187,55,125);
    background: linear-gradient(90deg, rgba(187,55,125,1) 0%, rgba(251,211,233,1) 100%);
}
.custom-nav-one .owl-carousel .owl-nav .owl-prev:before,
.custom-nav-three .owl-carousel .owl-nav .owl-prev:before {
	background: rgb(187,55,125);
    background: linear-gradient(90deg, rgba(187,55,125,1) 0%, rgba(251,211,233,1) 100%);
}
.services-box-type1 .iconbox-icon:before {
    background: rgb(187,55,125);
    background: linear-gradient(90deg, rgba(187,55,125,1) 0%, rgba(251,211,233,1) 100%);
}
#rev-slider1 ul li .btn-slider a:before {
	background: rgb(187,55,125);
    background: linear-gradient(90deg, rgba(187,55,125,1) 0%, rgba(251,211,233,1) 100%);
}
.custom-nav-one .owl-carousel .owl-nav .owl-next:before,
.custom-nav-three .owl-carousel .owl-nav .owl-next:before {
	background: rgb(251,211,233);
    background: linear-gradient(90deg, rgba(251,211,233,1) 0%, rgba(187,55,125,1) 100%);
}
.linear-color-two .hv-linear {
	background-image: linear-gradient(to right, #bb377d 0%, #fbd3e9 50%, #bb377d 100%);
}
.custom-nav-two .owl-carousel .owl-nav .owl-next,
.services-single .slider-sv .owl-carousel .owl-nav .owl-next {
	background-image: linear-gradient(to right, #fbd3e9 0%, #bb377d 50%, #fbd3e9 100%);
}
